@model IEnumerable<DBOperations.Models.UserStories_Model>

@{
    ViewBag.Title = "GetAllUserStories";
}

<div class="container mt-5">
    <h2>Get All User Stories</h2>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Story Points</th>
                    <th scope="col">Priority</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.UserStoryID)</th>
                        <td>@Html.ActionLink(item.Title, "GetUserStorydetails", new { id = item.UserStoryID })</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.StoryPoints)</td>
                        <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        @Html.ActionLink("Back to Index", "Index", "Home")
    </div>
</div>
