@model DBOperations.Models.Employees_Model

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @if (string.IsNullOrEmpty(ViewBag.flag))
                {
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                }
            </div>
        </div>

        @if (string.IsNullOrEmpty(ViewBag.flag))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}

@if (!(string.IsNullOrEmpty(ViewBag.flag)))
{
    using (Html.BeginForm("VerifyOTP", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Verify OTP" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

@if (!(string.IsNullOrEmpty(ViewBag.Message)))
{
    <h4>@ViewBag.Message</h4>
    @Html.ActionLink("Create a new account", "Signup")
}
<div>
    @Html.ActionLink("Login", "Login")
</div>



@*@if (!(string.IsNullOrEmpty(ViewBag.flag)))
    {
        <h4>Update Password</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    }*@
