@model DBOperations.Models.Employees_Model

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="employee-details">
    <hr />
    <dl class="dl-horizontal">
        <dt>Employee ID</dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>First Name</dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>Last Name</dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>Email Address</dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
</div>

<div class="action-links">
    <p>
        @Html.ActionLink("Edit Details", "Edit", new { id = Model.EmployeeID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Change Password", "EditPassword", new { id = Model.EmployeeID }, new { @class = "btn btn-primary" })
    </p>
</div>

<div class="back-to-index">
    @Html.ActionLink("Back to Index", "Index", "Home")
</div>
